*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: 0.3s;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    margin: 0 auto;
    width:900px;
}
button{
    cursor: pointer;
}
.head{
    background-image: url(../media/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0 21px;
}
.header-btn button{
    padding:12px 23px;
    border: 1px solid #FFFFFF;
    background: transparent;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    color: #FFFFFF;
}
.header-btn button:hover{
    background:#ffffff;
    color:rgb(255, 187, 0);
}
.header-search{
    display: flex;
    gap: 0;
}
.header-search input::placeholder{
   font-family: sans-serif;
   font-weight: 400;
   font-size: 12px;
   color:rgb(255, 187, 0) ;
}
.header-search input{
    padding:11px 0 11px 11px;
    background:transparent;
    border:1px solid #ffffff;
    width:560px;
}
.header-search button{
    background:transparent;
    border:none;
    font-size: 20px;
    color:#ffffff;
    border:1px solid #ffffff;
    padding: 0 12px;
}
.header-search button:hover{
    background: #ffff;
    color:rgb(255, 187, 0);
}
.header-call{
    display: flex;
    align-items:center;
    gap: 10px;
    background:#FFFFFF;
    padding: 10px 20px;
    border:1px solid #ffffff;
}

.header-call i{
    color: rgb(255, 187, 0);
}
.header-call a{
    font-size: 15px;
    color:rgb(255, 187, 0);
    font-family: sans-serif;
    font-weight: 400;
}

.header-call:hover{
    background:transparent;
}

.header-call:hover i{
    color:#FFFFFF;
}
.header-call:hover a{
    color:#ffffff;
}
.header .bar {
    cursor: pointer;
   display: none;
   flex-direction: column;
}
.header .bar div{
    background:#ffffff;
    width: 30px;
    height: 4px;
    margin: 3px 0;
    border-radius: 5px;
}

.navbar{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 30px;
}
.navbar .navbar-item a{
    font-family: sans-serif;
    font-weight: 500;
    font-family: 18px;
    color:#ffffff;
}.navbar .navbar-item a:first-child(){
    font-weight: 700;
}

.navbar .navbar-item a:focus{
    font-weight: 700;
}
input[id="bar"]:checked + .navbar {
    transform: translateY(0);
}

input[id="bar"]:checked ~ label{
    display: block;
}
.tel{
    display: none;
}
.black{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.49);
    display: none;
    z-index: 50;
}

.showcase{
    margin-top: 120px;
    display: flex;
    gap: 150px;
}
.showcase-word{
    width: 45%;
}
.showcase-word .word-title{
    color:#ffffff;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
.showcase-word .word-p{
    color:#ffffff;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding:10px 0;
}
.showcase-word .word-button button{
    color:rgb(255, 187, 0);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    padding: 10px 15px;
    background:#ffffff;
    border:1px solid #ffffff;
    border-radius:3px;
}
.showcase-word .word-button button:hover{
    background:transparent;
    color:#ffffff;
}
.showcase-title{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 65px;
    color:#FFFFFF;
}

.abs{
    position: absolute;
}
.abs1{
    bottom:90px;
    right: 200px;
}
.abs2{
    bottom:115px;
    right: 38%;
}


section{
    background:black;
    position: relative;
    padding-bottom: 100px;
}
.absolute{
    position: absolute;
    top: 0;
    right: 10%;
    transform: translateY(-50%);
}
.section1{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 120px 0 90px;
}
.section1-title{
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    width: 80%;
}
.section1-button{
    color:rgb(255, 187, 0);
    background:#ffff;
    border:1px solid #ffff;
    border-radius:5px;
    padding: 9px 18px;
    font-size:15px;
}
.section1-button:hover{
    background:black;
    color:#ffff;
}
.section1-p{
    color:#ffffff;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 10px 0 15px;
}
.section1-right{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center; 
}
.section1-item{
    width: 40%;
}
.section1-img{
    width: 80%;
}
.section1-img img{
    width: 100%;
    height: 100%;
}
.section1-buttons{
    display: flex;
    gap:20px;
}
.section1-buttons button{
    border-radius:50%;
    padding: 7px;
    margin: 5px;
}
.section1-buttons span{
    border:1px solid ;
    border-radius: 50%;
}
.section1-buttons span:nth-child(1){color:gray;}
.section1-buttons button:nth-child(2){background:#156963;}
.section1-buttons span:nth-child(2){color:#156963;}
.section1-buttons button:nth-child(3){background:#E80000;}
.section1-buttons span:nth-child(3){color:#E80000;}

.title{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
    color:#ffffff;
    width: 200px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    grid-template-rows: repeat(1fr 1fr);
    gap: 20px;
    padding: 20px 0 50px;
}
.grid-item{
    position: relative;
}
.grid-abs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.725);
    text-align: center;
    opacity: 0;
    transition-delay: 0.2s;
}
.grid-abs:hover{
    opacity: 1;
}
.grid-abs p{
    color:#FFFFFF;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20%;
}
.grid-item:nth-child(1){
    grid-column:1/2 ;
    grid-row: 1/2;
}
.grid-item:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
}
.grid-item:nth-child(3){
    grid-column: 1/2;
    grid-row:2/3 ;
}
.grid-item:nth-child(4){
    grid-column:2/3 ;
    grid-row: 2/3;
}
.grid-item img{
    width: 100%;
    height: 100%;
}

.icons{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 100px 0;
}
.icon img{
    width: 100%;
    height: 100%;
}
.icon{
    text-align: center;
}

.icon .icpn-desc{
    color:#fff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
}

.word{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
}
.word-title{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 60px;
    width: 60%;
}
.word-desc{
    width: 40%;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
}

.link{
    display: flex;
    align-items:center;
    gap: 20px;
    justify-content: center;
}
.link-item a{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16   px;
    color:rgb(77, 77, 77);
}
.link-item a:focus{
    color:#fff;
    border-bottom: 4px solid rgb(255, 187, 0);
}

.card{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    flex-wrap: wrap;
}
.card-item{
    width: 22%;
    padding-bottom: 30px;
}
.card-img{
 height: 80%;
 background:#1D1D1D;
 padding: 30px;
}
.card-img img{
    width:100%;
    height:100%;
}
.cats-title{
    font-family: sans-serif;
    font-family: 300;
    color:#FFFFFF;
    font-size: 14px;
    padding: 10px 0 5px;
}
.card-price{
    font-family: sans-serif;
    font-weight: 700;
    color:#fff;
    font-size: 20px;
}
.card-button{
    text-align: center;
}
.card-button button {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#fff;
    border:1px solid #fff;
    border-radius:4px;
    background:transparent;
    padding: 11px 20px;
}
.card-button button:hover{
    background:#ffff;
    color:black;

}

.section0{
    background-image:url(../media/bg2.png);
    background-size:cover;
    padding: 20px 0;
    position: relative;
}
.section0-abs{
    position: absolute;
    top: -30%;
    left: 0;
}
.section0-abs2{
    position: absolute;
    bottom: -15%;
    right: 0;
    z-index: 0;
}

.section2{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 50px;
}
.section2-title{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 70px;
}
.section2-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.section2-word{
    width: 48%;
    padding: 20px 0;
}
.section2-head{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 10px;
}

.section2-body{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.contact-section{
    background:#000000;
    color: #ffff;
    padding: 100px 0;
}
.contact{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}
.contact-abs{
    position: absolute;
    bottom: 0;
    right: 0;
}
.contact-abs img{
    width: 150px;
    height:150px;
}
.contact-item{
    width: 48%;
}
.contact-form{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.contact-title{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    width: 80%;
}

.contact-word{
    font-family: sans-serif;
    font-weight: 400;
    color:#F2F2F2;
    font-size: 12px;
}
.contact-form input , textarea{
    padding: 10px ;
    margin: 5px 0;
    background:transparent;
    border:1px solid #FBDA8B;
    color:#565656;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-radius:2px;
} 
.contact-name{
    width: 45%;
}
.contact-number{
    width: 45%;
}
.contact-text{
    width: 100%;
}
.contact-text textarea{
    width: 100%;
    height: 180px;
    padding: 20px;
}
.contact-button{
    width: 100%;
}
.contact-form label{
    color: #B37C3A;
    font-family: sans-serif;
    font-family: 400;
    font-size: 16px;

}
.contact-button button{
    color:#B37C3A;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 15px 20px ;
    border-radius:8px;
    border:1px solid #B37C3A;
    background:transparent;
}
.contact-button button:hover{
    background:#B37C3A;
    color:#ffff;
}
footer{
    background:#303030;
    padding: 60px 0;
    color:#ffff;
}
.footer{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-word{
    width: 40%;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.footer-li:nth-child(1){
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.footer-li{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#BEBEBE;
    padding: 5px 0;
}
@media(max-width:950px){
    .container{
        width: 80%;
    }
    .header-search input{
        width: 400px;
    }
    .showcase-title{
        font-size: 50px;
        width: 50%;
    }
    .abs1 , .abs2{
        display: none;
    }
    .showcase-title{
        text-align: right;
    }
    .contact-form input{
        width: 150px;
    }
}

@media(max-width:900px){
    .header-search input{
        width:300px;
    }
    .showcase{
        gap: 0;
        justify-content: space-between;
    }
    .showcase .showcase-word{
        width: 100%;
    }
    .showcase-title{
        font-size: 45px;
    }
    .contact-name{
        width: 100%;
    }
    .contact-number{
        width: 100%;
    }
    .contact-form label{
        display: block;
    }
    .contact-form input {
        width: 100%     ;
    }
}
@media(max-width:780px){
    .container{
        width: 90%;
    }
    .header-search input{
        width: 100%;
    }
    .br{
        display: none;
    }
    .showcase{
        flex-direction: column-reverse;
        margin-top: 10px;
    }
    .showcase-title{
        width: 100%;
        text-align: left;
        margin: 20px 0;
        font-size: 60px;
    }
    .showcase .showcase-word{
        width:100%;
    }
    .section1{
        flex-direction: column;
        gap: 50px;
    }
    .section1-item{
        width: 100%;
    }
    .section1-right{
        width: 100%;
    }
    .grid{
        grid-template-columns:1fr;
        grid-template-rows: repeat(1fr , 4);
    }
    .grid-item:nth-child(1){
        grid-column:1/2 ;
        grid-row: 1/2;
    }
    .grid-item:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .grid-item:nth-child(3){
        grid-column: 1/2;
        grid-row:3/4 ;
    }
    .grid-item:nth-child(4){
        grid-column:1/2;
        grid-row: 4/5;
    }
    .word-title{
        width: 100%;
        font-family: 40px;
    }
    .word-desc{
        width: 100%;
    }
    .card-item{
        width: 30%;
    }
    .absolute{
        display: none;
    }
    .section2{
        flex-direction: column;
    }
    .section2-title{
        text-align: right;
        font-size: 50px;
        position: relative;
        z-index: 5;
    }
    .contact-form{
        width: 100%;
    }
    .contact-item{
        width: 100%;
    }
    .footer-word{
        width: 100%;
        margin-bottom: 20px;
    }
}
@media(max-width:566px){
    .container{
        width: 97%;
    }
    .header-call a{
        font-size: 12px;
    }
    .header-btn button{
        font-size: 12px;
    }
    .header-search button{
        font-size: 12px;
    }
    .header{
        padding:15px 0;
    }
    .icons{
        flex-wrap: wrap;
        padding: 50px 0;
    }
    .icon{
        width: 50%;
    }
    .icon .icpn-desc{
        font-size: 10px;
    }
    .card-item{
        width: 48%;
    }
    .section0-abs , .section0-abs2{
        display: none;
    }
}
@media(max-width:500px){
    .navbar{
        transform: translateY(-200%);
        transition: 0.3s;
        padding: 30px 0;
        position: fixed;
        z-index: 99;
        left: 0;
        top: 30%;
        width: 100%;
        flex-direction: column;
        background:#ffffff;
        justify-content: flex-start;
        gap: 0;
    }
    .navbar-item{
        margin: 10px 0;
    }
    .navbar .navbar-item a{
        color:rgb(85, 62, 0);
        font-size: 18px;
    }
    .header-call{
        display: none;
    }
    .header .bar{
        display: flex;
    }
    .tel{
        display: block;
    }
    .showcase-title{
        font-size: 40px;
    }
}
@media(max-width:400px){
    .card-item{
        width: 100%;
    }
    .section2-word{
        width: 100%;
        text-align: center;
    }
    .footer-lins{
        width: 100%;
        margin-bottom: 15px;
    }
}